demo/thanks-mentions/src/main/app/example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.4.0" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/2.4/mule-twitter.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <twitter:config name="Twitter" accessKey="800697822-bgun4u32A3gM9ohjG5iy5nQImLNgXNS75boNJPZi" accessSecret="NBjJ0QCeJ7UKnyvhThfPHVv91ZqP8tcHJTkY0gvehmo"  consumerKey="BPAFIcgUctXJt3uFwaOA" consumerSecret="B3LOp48N1DdwThVfQGKeFHb85s5o3GITkGDAJAZ1N4" doc:name="Twitter"/>
    <data-mapper:config name="mentions-to-map" transformationGraphPath="mentions-to-map.grf" doc:name="DataMapper"/>
    <flow name="exampleFlow1" doc:name="exampleFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP"/>
        <twitter:update-status config-ref="Twitter" status="Hi @MuleConnectorQA" doc:name="Twitter"/>
        <twitter:get-mentions-timeline config-ref="Twitter" count="10" doc:name="Twitter"/>
        <data-mapper:transform config-ref="mentions-to-map" doc:name="DataMapper"/>
        <twitter:update-status config-ref="Twitter" status="Thanks for your mention @#[payload.screenname]" doc:name="Twitter"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="twitterGetFollowers" doc:name="twitterGetFollowers">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="getFollowers" doc:name="HTTP"/>
        <set-property propertyName="twitterCursor" value="-1" doc:name="twitterCursor"/>
        <expression-transformer expression="#[return []]" doc:name="Empty Collection"/>
        <request-reply>
        	<vm:outbound-endpoint path="twitter.getfollowers">
        		<message-properties-transformer>
        			<delete-message-property key="MULE_REPLYTO" />
        		</message-properties-transformer>
        	</vm:outbound-endpoint>
        	<vm:inbound-endpoint path="twitter.getfollowers.reply" />
        </request-reply>
    </flow>
    <flow name="twitterGetAllFollowers" doc:name="twitterGetAllFollowers">
        <vm:inbound-endpoint exchange-pattern="one-way" path="twitter.getfollowers" doc:name="VM"/>
        <enricher target="#[flowVars.twitterFollowers]" doc:name="Message Enricher">
            <twitter:get-followers config-ref="Twitter" cursor="#[message.inboundProperties['twitterCursor']]" doc:name="Get Followers"/>
        </enricher>
        <expression-component doc:name="Add all followers"><![CDATA[payload.addAll(flowVars.twitterFollowers);]]></expression-component>
        <choice doc:name="Choice">
            <when expression="#[flowVars.twitterFollowers.hasNext()]">
                <set-property propertyName="twitterCursor" value="#[flowVars.twitterFollowers.getNextCursor()]" doc:name="twitterCursor"/>
                <vm:outbound-endpoint exchange-pattern="one-way" path="twitter.getfollowers" doc:name="VM"/>
            </when>
            <otherwise>
                <vm:outbound-endpoint exchange-pattern="one-way" path="twitter.getfollowers.reply" doc:name="VM"/>
            </otherwise>
        </choice>
    </flow>
</mule>
