src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.3.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/2.4/mule-twitter.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
	<context:property-placeholder location="automation-credentials.properties"/>
	
	<twitter:config name="Twitter"
		accessKey="${twitter.sandbox.accessKey}"
		accessSecret="${twitter.sandbox.accessSecret}" consumerKey="${twitter.sandbox.consumerKey}"
		consumerSecret="${twitter.sandbox.consumerSecret}" doc:name="Twitter"
		useSSL="true" />
	<twitter:config name="auxSandbox"
		accessKey="${twitter.auxSandbox.accessKey}"
		accessSecret="${twitter.auxSandbox.accessSecret}" consumerKey="${twitter.auxSandbox.consumerKey}"
		consumerSecret="${twitter.auxSandbox.consumerSecret}" doc:name="Twitter"
		useSSL="true" />
	<twitter:config name="auxAuxSandbox"
		accessKey="${twitter.auxAuxSandbox.accessKey}"
		accessSecret="${twitter.auxAuxSandbox.accessSecret}" consumerKey="${twitter.auxAuxSandbox.consumerKey}"
		consumerSecret="${twitter.auxAuxSandbox.consumerSecret}" doc:name="Twitter"
		useSSL="true" />
		
	<!--  ### auxSandbox flows ### -->
	
	<flow name="update-status-aux-sandbox" doc:name="update-status-aux-sandbox">
        <twitter:update-status config-ref="auxSandbox" status="#[payload]" doc:name="Update status"/>
        <logger level="INFO" message="### update-status on auxSandbox #[payload]" />
	</flow>
	
	<flow name="destroy-status-aux-sandbox" doc:name="destroy-status-aux-sandbox">
        <twitter:destroy-status config-ref="auxSandbox" statusId="#[payload]" doc:name="Destroy status"/>
        <logger level="INFO" message="### destroy-status on auxSandbox #[payload]" />
	</flow>
	
	<flow name="retweet-status-aux-sandbox" doc:name="retweet-status-aux-sandbox">
        <twitter:retweet-status config-ref="auxSandbox" statusId="#[payload]" doc:name="Twitter"/>
        <logger level="INFO" message="### retweet-status-aux-sandbox #[payload]" />
	</flow>
	
	<flow name="get-retweets-of-me-default-values" doc:name="get-retweets-of-me-default-values">
		<twitter:get-retweets-of-me config-ref="auxSandbox" doc:name="Twitter"/>
        <logger level="INFO" message="### get-retweets-of-me-default-values #[payload]" />
	</flow>
	
	<flow name="get-retweets-of-me-parametrized" doc:name="get-retweets-of-me-parametrized">
        <twitter:get-retweets-of-me config-ref="auxSandbox" doc:name="Twitter" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
        <logger level="INFO" message="### get-retweets-of-me-parametrized #[payload]" />
	</flow>
	
	<flow name="get-retweets-aux-sandbox" doc:name="get-retweets-aux-sandbox">
        <twitter:get-retweets config-ref="auxSandbox" statusId="#[payload]" doc:name="Twitter"/>
        <logger level="INFO" message="### get-retweets-aux-sandbox #[payload]" />
	</flow>
	
	<flow name="get-retweeted-by-user-by-screen-name-default-values" doc:name="get-retweeted-by-user-by-screen-name-default-values">
        <twitter:get-retweeted-by-user-by-screen-name config-ref="auxAuxSandbox"  doc:name="Twitter" screenName="#[payload]"/>
        <logger level="INFO" message="### get-retweeted-by-user-by-screen-name-default-values #[payload]" />
	</flow>
	
	<flow name="get-retweeted-by-user-by-screen-name-parametrized" doc:name="get-retweeted-by-user-by-screen-name-parametrized">
        <twitter:get-retweeted-by-user-by-screen-name config-ref="auxAuxSandbox"  doc:name="Twitter" screenName="#[payload.screenName]" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
        <logger level="INFO" message="### get-retweeted-by-user-by-screen-name-parametrized #[payload]" />
	</flow>

	<flow name="get-retweeted-by-user-by-user-id-default-values" doc:name="get-retweeted-by-user-by-user-id-default-values">
        <twitter:get-retweeted-by-user-by-user-id config-ref="Twitter" userId="#[payload]" doc:name="Twitter"/>
        <logger level="INFO" message="### get-retweeted-by-user-by-user-id-default-values #[payload]" />
	</flow>
	
	<flow name="get-retweeted-by-user-by-user-id-parametrized" doc:name="get-retweeted-by-user-by-user-id-parametrized">
        <twitter:get-retweeted-by-user-by-user-id config-ref="auxAuxSandbox"  doc:name="Twitter" userId="#[payload.userId]" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
        <logger level="INFO" message="### get-retweeted-by-user-by-screen-name-parametrized #[payload]" />
	</flow>
	
	<!--  ### auxAuxSandbox (receives retweets form sandbox) flows  ### -->	
		
	<flow name="get-retweeted-to-me-default-values" doc:name="get-retweeted-to-me-default-values">
        <twitter:get-retweeted-to-me config-ref="auxAuxSandbox" doc:name="Twitter"/>
        <logger level="INFO" message="### get-retweeted-to-me-default-values #[payload]" />
	</flow>
	
	<flow name="get-retweeted-to-me-parametrized" doc:name="get-retweeted-to-me-parametrized">
        <twitter:get-retweeted-to-me config-ref="auxAuxSandbox" doc:name="Twitter" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
        <logger level="INFO" message="### get-retweeted-to-me-parametrized #[payload]" />
	</flow>
		
	<!--  ### Twitter ###  -->
	
	<flow name="show-user" doc:name="show-user">
        <twitter:show-user config-ref="Twitter"  doc:name="Twitter"   />
        <logger level="INFO" message="### show-user #[payload]" />
	</flow>
	
	<flow name="update-status" doc:name="update-status">
        <twitter:update-status config-ref="Twitter" status="#[payload]" doc:name="Update status"/>
        <logger level="INFO" message="### update-status #[payload]" />
	</flow>
	
	<flow name="retweet-status" doc:name="retweet-status">
        <twitter:retweet-status config-ref="Twitter" statusId="#[payload]" doc:name="Twitter"/>
        <logger level="INFO" message="### retweet-status #[payload]" />
	</flow>

	<flow name="destroy-status" doc:name="destroy-status">
        <twitter:destroy-status config-ref="Twitter" statusId="#[payload]" doc:name="Destroy status"/>
        <logger level="INFO" message="### destroy-status #[payload]" />
	</flow>
	
	<flow name="show-status" doc:name="show-status">
        <twitter:show-status config-ref="Twitter" id="#[payload]" doc:name="Twitter"/>
        <logger level="INFO" message="### show-status #[payload]" />
	</flow>
	
	<flow name="get-home-timeline-default-values" doc:name="get-home-timeline-default-values">
        <twitter:get-home-timeline config-ref="Twitter"  doc:name="Twitter"/>
        <logger level="INFO" message="### get-home-timeline-default-values #[payload]" />
	</flow>
	
	<flow name="get-home-timeline-parameterized" doc:name="get-home-timeline-parameterized">
        <twitter:get-home-timeline config-ref="Twitter"  doc:name="Twitter" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
        <logger level="INFO" message="### get-home-timeline-parameterized #[payload]" />
	</flow>
	
	<flow name="get-public-timeline" doc:name="get-public-timeline">
        <twitter:get-public-timeline config-ref="Twitter"  doc:name="Twitter"   />
        <logger level="INFO" message="### get-public-timeline #[payload]" />
	</flow>
	
	<flow name="get-user-timeline-default-values" doc:name="get-user-timeline-default-values">
        <twitter:get-user-timeline config-ref="Twitter"  doc:name="Twitter"   />
        <logger level="INFO" message="### get-user-timeline-default-values #[payload]" />
	</flow>
	
	<flow name="get-user-timeline-parameterized" doc:name="get-user-timeline-parameterized">
        <twitter:get-user-timeline config-ref="Twitter"  doc:name="Twitter" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
        <logger level="INFO" message="### get-user-timeline-parameterized #[payload]" />
	</flow>
	
	<flow name="get-user-timeline-by-screen-name-default-values" doc:name="get-user-timeline-by-screen-name-default-values">
        <twitter:get-user-timeline-by-screen-name config-ref="Twitter"  doc:name="Twitter" screenName="#[payload]"/>
        <logger level="INFO" message="### get-user-timeline-by-screen-name-default-values #[payload]" />
	</flow>
	
	<flow name="get-user-timeline-by-screen-name-parameterized" doc:name="get-user-timeline-by-screen-name-parameterized">
        <twitter:get-user-timeline-by-screen-name config-ref="Twitter"  doc:name="Twitter" screenName="#[payload.screenName]" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
        <logger level="INFO" message="### get-user-timeline-by-screen-name-parameterized #[payload]" />
	</flow>
	
	<flow name="get-user-timeline-by-user-id-default-values" doc:name="get-user-timeline-by-user-id-default-values">
        <twitter:get-user-timeline-by-user-id config-ref="Twitter"  doc:name="Twitter" userId="#[payload]"/>
        <logger level="INFO" message="### get-user-timeline-by-user-id-default-values #[payload]" />
	</flow>
	
	<flow name="get-user-timeline-by-user-id-parameterized" doc:name="get-user-timeline-by-user-id-parameterized">
        <twitter:get-user-timeline-by-user-id config-ref="Twitter"  doc:name="Update status" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]" userId="#[payload.userId]"/>
        <logger level="INFO" message="### get-user-timeline-by-user-id-parameterized #[payload]" />
	</flow>
	
	<flow name="get-retweeted-by-default-values" doc:name="get-retweeted-by-default-values">
        <twitter:get-retweeted-by config-ref="Twitter" statusId="#[payload]" doc:name="Twitter"/>
        <logger level="INFO" message="### get-retweeted-by-default-values #[payload]" />
	</flow>
	
	<flow name="get-retweeted-by-ids-default-values" doc:name="get-retweeted-by-ids-default-values">
        <twitter:get-retweeted-by-i-ds config-ref="Twitter" statusId="#[payload]" doc:name="Twitter"/>
        <logger level="INFO" message="### get-retweeted-by-ids-default-values #[payload]" />
	</flow>
	
	<flow name="get-retweeted-by-me-default-values" doc:name="get-retweeted-by-me-default-values">
        <twitter:get-retweeted-by-me config-ref="Twitter" doc:name="Twitter"/>
        <logger level="INFO" message="### get-retweeted-by-me-default-values #[payload]" />
	</flow>
	
	<flow name="get-retweeted-by-me-parametrized" doc:name="get-retweeted-by-me-parametrized">
        <twitter:get-retweeted-by-me config-ref="Twitter" doc:name="Twitter" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
        <logger level="INFO" message="### get-retweeted-by-me-parametrized #[payload]" />
	</flow>

	<flow name="create-place-default-values" doc:name="create-place-default-values">
        <twitter:create-place config-ref="Twitter" placeName="#[payload.placeName]" containedWithin="#[payload.containedWithin]" token="#[payload.token]" latitude="#[payload.latitude]" longitude="#[payload.longitude]" doc:name="Twitter"/>
        <logger level="INFO" message="### create-place-default-values #[payload]" />
	</flow>
	
	<flow name="create-place-parametrized" doc:name="create-place-parametrized">
        <twitter:create-place config-ref="Twitter" placeName="#[payload.placeName]" containedWithin="#[payload.containedWithin]" token="#[payload.token]" latitude="#[payload.latitude]" longitude="#[payload.longitude]" streetAddress="#[payload.streetAddress]" doc:name="Twitter"/>
        <logger level="INFO" message="### create-place-parametrized #[payload]" />
	</flow>
	
	<flow name="search-places-by-coordinates" doc:name="search-places-by-coordinates">
        <twitter:search-places config-ref="Twitter" doc:name="Twitter" latitude="#[payload.latitude]" longitude="#[payload.longitude]"/>
        <logger level="INFO" message="### search-places-by-coordinates #[payload]" />
	</flow>
	
	<flow name="search-places-by-ip" doc:name="search-places-by-ip">
        <twitter:search-places config-ref="Twitter" doc:name="Twitter" ip="#[payload]"/>
        <logger level="INFO" message="### search-places-by-ip #[payload]" />
	</flow>
	
	<flow name="get-available-trends-default-values" doc:name="get-available-trends-default-values">
        <twitter:get-available-trends config-ref="Twitter" doc:name="Twitter"/>
        <logger level="INFO" message="### get-available-trends-default-values #[payload]" />
	</flow>
	
	<flow name="get-available-trends-parametrized" doc:name="get-available-trends-parametrized">
        <twitter:get-available-trends config-ref="Twitter" doc:name="Twitter" latitude="#[payload.latitude]" longitude="#[payload.longitude]"/>
        <logger level="INFO" message="### get-available-trends-parametrized #[payload]" />
	</flow>
	
	<flow name="get-daily-trends-default-values" doc:name="get-daily-trends-default-values">
        <twitter:get-daily-trends config-ref="Twitter" doc:name="Twitter"/>
        <logger level="INFO" message="### get-daily-trends-default-values #[payload]" />
	</flow>
	
	<flow name="get-daily-trends-parametrized" doc:name="get-daily-trends-parametrized">
        <twitter:get-daily-trends config-ref="Twitter" doc:name="Twitter" date="#[payload]"/>
        <logger level="INFO" message="### get-daily-trends-parametrized #[payload]" />
	</flow>
	
	<flow name="get-geo-details" doc:name="get-geo-details">
        <twitter:get-geo-details config-ref="Twitter" id="#[payload]" doc:name="Twitter"/>
        <logger level="INFO" message="### get-geo-details #[payload]" />
	</flow>
	
	<flow name="get-location-trends-default-values" doc:name="get-location-trends-default-values">
        <twitter:get-location-trends config-ref="Twitter" doc:name="Twitter"/>
        <logger level="INFO" message="### get-location-trends-default-values #[payload]" />
	</flow>
	
	<flow name="get-location-trends-parametrized" doc:name="get-location-trends-parametrized">
        <twitter:get-location-trends config-ref="Twitter" doc:name="Twitter" woeid="#[payload]"/>
        <logger level="INFO" message="### get-location-trends-parametrized #[payload]" />
	</flow>
	
	<flow name="get-mentions-default-values" doc:name="get-mentions-default-values">
        <twitter:get-mentions config-ref="Twitter" doc:name="Twitter"/>
        <logger level="INFO" message="### get-mentions-default-values #[payload]" />
	</flow>
	
	<flow name="get-mentions-parametrized" doc:name="get-mentions-parametrized">
        <twitter:get-mentions config-ref="Twitter" doc:name="Twitter" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
        <logger level="INFO" message="### get-mentions-parametrized #[payload]" />
	</flow>
	
	<flow name="get-weekly-trends-default-values" doc:name="get-weekly-trends-default-values">
        <twitter:get-weekly-trends config-ref="Twitter" doc:name="Twitter"/>
        <logger level="INFO" message="### get-weekly-trends-default-values #[payload]" />
	</flow>
	
	<flow name="get-weekly-trends-parametrized" doc:name="get-weekly-trends-parametrized">
        <twitter:get-weekly-trends config-ref="Twitter" doc:name="Twitter"  date="#[payload]"/>
        <logger level="INFO" message="### get-weekly-trends-parametrized #[payload]" />
	</flow>		
	
	<flow name="request-authorization" doc:name="request-authorization">
        <twitter:request-authorization config-ref="Twitter" doc:name="Twitter"/>
        <logger level="INFO" message="### request-authorization #[payload]" />
	</flow>
	
	<flow name="reverse-geo-code-by-ip" doc:name="reverse-geo-code-by-ip">
        <twitter:reverse-geo-code config-ref="Twitter" doc:name="Twitter" ip="#[payload]" />
        <logger level="INFO" message="### reverse-geo-code-by-ip #[payload]" />
	</flow>
	
	<flow name="reverse-geo-code-by-coordinates" doc:name="reverse-geo-code-by-coordinates">
        <twitter:reverse-geo-code config-ref="Twitter" doc:name="Twitter" latitude="#[payload.latitude]" longitude="#[payload.longitude]"/>
        <logger level="INFO" message="### reverse-geo-code-by-coordinates #[payload]" />
	</flow>
	
	<flow name="search-default-values" doc:name="search-default-values">
        <twitter:search config-ref="Twitter" query="#[payload]" doc:name="Twitter"/>
        <logger level="INFO" message="### search-default-values #[payload]" />
	</flow>
	
	<flow name="send-direct-message-by-screen-name" doc:name="send-direct-message-by-screen-name">
        <twitter:send-direct-message-by-screen-name config-ref="Twitter" screenName="#[payload.screenName]" message="#[payload.message]" doc:name="Twitter"/>
        <logger level="INFO" message="### send-direct-message-by-screen-name #[payload]" />
	</flow>
	
	<flow name="send-direct-message-by-user-id" doc:name="send-direct-message-by-user-id">
        <twitter:send-direct-message-by-user-id config-ref="Twitter" userId="#[payload.userId]" message="#[payload.message]" doc:name="Twitter"/>
        <logger level="INFO" message="### send-direct-message-by-user-id #[payload]" />
	</flow>
	
	<flow name="set-oauth-verifier-default-values" doc:name="set-oauth-verifier-mentions-default-values">
        <twitter:set-oauth-verifier config-ref="Twitter" oauthVerifier="#[payload.oauthVerifier]" doc:name="Twitter"/>
        <logger level="INFO" message="### set-oauth-verifier-default-values #[payload]" />
	</flow>
	
	<flow name="get-retweeted-to-user-by-screen-name-default-values" doc:name="get-retweeted-to-user-by-screen-name-default-values">
        <twitter:get-retweeted-to-user-by-screen-name config-ref="Twitter" screenName="#[payload]" doc:name="Twitter"/>
        <logger level="INFO" message="### get-retweeted-to-user-by-screen-name-default-values #[payload]" />
	</flow>
	
	<flow name="get-retweeted-to-user-by-screen-name-parametrized" doc:name="get-retweeted-to-user-by-screen-name-parametrized">
        <twitter:get-retweeted-to-user-by-screen-name config-ref="Twitter" doc:name="Twitter" screenName="#[payload.screenName]" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
        <logger level="INFO" message="### get-retweeted-to-user-by-screen-name-parametrized #[payload]" />
	</flow>
	
	<flow name="get-retweeted-to-user-by-user-id-default-values" doc:name="get-retweeted-to-user-by-user-id-default-values">
        <twitter:get-retweeted-to-user-by-user-id config-ref="Twitter" userId="#[payload]" doc:name="Twitter"/>
        <logger level="INFO" message="### get-retweeted-to-user-by-user-id-default-values #[payload]" />
	</flow>
	
	<flow name="get-retweeted-to-user-by-user-id-parametrized" doc:name="get-retweeted-to-user-by-user-id-parametrized">
        <twitter:get-retweeted-to-user-by-user-id config-ref="Twitter" doc:name="Twitter" userId="#[payload.userId]" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
        <logger level="INFO" message="### get-retweeted-to-user-by-user-id-parametrized #[payload]" />
	</flow>
	
</mule>