src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      version="EE-3.6.0"
      xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
        http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <context:property-placeholder location="${AUTOMATION_CREDENTIALS}"/>

    <twitter:config name="Twitter"
                    accessToken="${twitter.sandbox.accessKey}"
                    accessTokenSecret="${twitter.sandbox.accessSecret}" consumerKey="${twitter.sandbox.consumerKey}"
                    consumerSecret="${twitter.sandbox.consumerSecret}" doc:name="Twitter"
            />
    <twitter:config name="auxSandbox"
                    accessToken="${twitter.auxSandbox.accessKey}"
                    accessTokenSecret="${twitter.auxSandbox.accessSecret}" consumerKey="${twitter.auxSandbox.consumerKey}"
                    consumerSecret="${twitter.auxSandbox.consumerSecret}" doc:name="Twitter"
            />
    <twitter:config name="auxAuxSandbox"
                    accessToken="${twitter.auxAuxSandbox.accessKey}"
                    accessTokenSecret="${twitter.auxAuxSandbox.accessSecret}"
                    consumerKey="${twitter.auxAuxSandbox.consumerKey}"
                    consumerSecret="${twitter.auxAuxSandbox.consumerSecret}" doc:name="Twitter"
            />

    <!--  ### auxSandbox flows ### -->

    <flow name="update-status-aux-sandbox" doc:name="update-status-aux-sandbox">
        <twitter:update-status config-ref="auxSandbox" status="#[flowVars.status]" doc:name="Update status"/>
    </flow>

    <flow name="destroy-status-aux-sandbox" doc:name="destroy-status-aux-sandbox">
        <twitter:destroy-status config-ref="auxSandbox" statusId="#[flowVars.statusId]" doc:name="Destroy status"/>
    </flow>

    <flow name="retweet-status-aux-sandbox" doc:name="retweet-status-aux-sandbox">
        <twitter:retweet-status config-ref="auxSandbox" statusId="#[flowVars.statusId]" doc:name="Twitter"/>
    </flow>

    <flow name="get-retweets-of-me-default-values" doc:name="get-retweets-of-me-default-values">
        <twitter:get-retweets-of-me config-ref="auxSandbox" doc:name="Twitter"/>
    </flow>

    <flow name="get-retweets-of-me-parametrized" doc:name="get-retweets-of-me-parametrized">
        <twitter:get-retweets-of-me config-ref="auxSandbox" doc:name="Twitter" count="#[flowVars.count]"
                                    page="#[flowVars.page]" sinceId="#[flowVars.sinceId]"/>
    </flow>

    <flow name="get-retweets-aux-sandbox" doc:name="get-retweets-aux-sandbox">
        <twitter:get-retweets config-ref="auxSandbox" statusId="#[flowVars.statusId]" doc:name="Twitter"/>
    </flow>

    <!--  ### Twitter ###  -->

    <flow name="show-user" doc:name="show-user">
        <twitter:show-user config-ref="Twitter" doc:name="Twitter"/>
    </flow>

    <flow name="update-status" doc:name="update-status">
        <twitter:update-status config-ref="Twitter" status="#[flowVars.status]" doc:name="Update status"/>
    </flow>

    <flow name="retweet-status" doc:name="retweet-status">
        <twitter:retweet-status config-ref="Twitter" statusId="#[flowVars.statusId]" doc:name="Twitter"/>
    </flow>

    <flow name="destroy-status" doc:name="destroy-status">
        <twitter:destroy-status config-ref="Twitter" statusId="#[flowVars.statusId]" doc:name="Destroy status"/>
    </flow>

    <flow name="show-status" doc:name="show-status">
        <twitter:show-status config-ref="Twitter" id="#[flowVars.id]" doc:name="Twitter"/>
    </flow>

    <flow name="get-home-timeline-default-values" doc:name="get-home-timeline-default-values">
        <twitter:get-home-timeline config-ref="Twitter" doc:name="Twitter"/>
    </flow>

    <flow name="get-home-timeline-parameterized" doc:name="get-home-timeline-parameterized">
        <twitter:get-home-timeline config-ref="Twitter" doc:name="Twitter" count="#[flowVars.count]"
                                   page="#[flowVars.page]" sinceId="#[flowVars.sinceId]"/>
    </flow>

    <flow name="get-user-timeline-by-screen-name-default-values"
          doc:name="get-user-timeline-by-screen-name-default-values">
        <twitter:get-user-timeline-by-screen-name config-ref="Twitter" doc:name="Twitter"
                                                  screenName="#[flowVars.userScreenName]"/>
    </flow>

    <flow name="get-user-timeline-by-screen-name-parameterized"
          doc:name="get-user-timeline-by-screen-name-parameterized">
        <twitter:get-user-timeline-by-screen-name config-ref="Twitter" doc:name="Twitter"
                                                  screenName="#[flowVars.screenName]" count="#[flowVars.count]"
                                                  page="#[flowVars.page]"/>
    </flow>

    <flow name="get-user-timeline-by-user-id-default-values" doc:name="get-user-timeline-by-user-id-default-values">
        <twitter:get-user-timeline-by-user-id config-ref="Twitter" doc:name="Twitter" userId="#[flowVars.userId]"/>
    </flow>

    <flow name="get-user-timeline-by-user-id-parameterized" doc:name="get-user-timeline-by-user-id-parameterized">
        <twitter:get-user-timeline-by-user-id config-ref="Twitter" doc:name="Update status" count="#[flowVars.count]"
                                              page="#[flowVars.page]" sinceId="#[flowVars.sinceId]"
                                              userId="#[flowVars.userId]"/>
    </flow>

    <flow name="create-place-default-values" doc:name="create-place-default-values">
        <twitter:create-place config-ref="Twitter" placeName="#[flowVars.placeName]"
                              containedWithin="#[flowVars.containedWithin]" token="#[flowVars.token]"
                              latitude="#[flowVars.latitude]" longitude="#[flowVars.longitude]" doc:name="Twitter"/>
    </flow>

    <flow name="create-place-parametrized" doc:name="create-place-parametrized">
        <twitter:create-place config-ref="Twitter" placeName="#[flowVars.placeName]"
                              containedWithin="#[flowVars.containedWithin]" token="#[flowVars.token]"
                              latitude="#[flowVars.latitude]" longitude="#[flowVars.longitude]"
                              streetAddress="#[flowVars.streetAddress]" doc:name="Twitter"/>
    </flow>

    <flow name="search-places-by-coordinates" doc:name="search-places-by-coordinates">
        <twitter:search-places config-ref="Twitter" doc:name="Twitter" latitude="#[flowVars.latitude]"
                               longitude="#[flowVars.longitude]"/>
    </flow>

    <flow name="search-places-by-ip" doc:name="search-places-by-ip">
        <twitter:search-places config-ref="auxAuxSandbox" doc:name="Twitter" ip="#[flowVars.ip]"/>
    </flow>

    <flow name="get-available-trends" doc:name="get-available-trends">
        <twitter:get-available-trends config-ref="Twitter" doc:name="Twitter"/>
    </flow>

    <flow name="get-geo-details" doc:name="get-geo-details">
        <twitter:get-geo-details config-ref="Twitter" id="#[flowVars.id]" doc:name="Twitter"/>
    </flow>

    <flow name="get-location-trends" doc:name="get-location-trends">
        <twitter:get-place-trends config-ref="Twitter" doc:name="Twitter" woeid="#[flowVars.woeid]"/>
    </flow>

    <flow name="update-status-auxaux-sandbox" doc:name="update-status-auxaux-sandbox">
        <twitter:update-status config-ref="auxAuxSandbox" status="#[flowVars.status]" doc:name="Update status"/>
    </flow>

    <flow name="get-mentions-default-values" doc:name="get-mentions-default-values">
        <twitter:get-mentions-timeline config-ref="auxAuxSandbox" doc:name="Twitter"/>
    </flow>

    <flow name="get-mentions-parametrized" doc:name="get-mentions-parametrized">
        <twitter:get-mentions-timeline config-ref="auxAuxSandbox" doc:name="Twitter" count="#[flowVars.count]"/>
    </flow>

    <flow name="request-authorization" doc:name="request-authorization">
        <twitter:request-authorization config-ref="auxAuxSandbox" doc:name="Twitter"/>
    </flow>

    <flow name="reverse-geo-code-by-ip" doc:name="reverse-geo-code-by-ip">
        <twitter:reverse-geo-code config-ref="auxAuxSandbox" doc:name="Twitter"/>
    </flow>

    <flow name="reverse-geo-code-by-coordinates" doc:name="reverse-geo-code-by-coordinates">
        <twitter:reverse-geo-code config-ref="auxAuxSandbox" doc:name="Twitter" latitude="#[flowVars.latitude]"
                                  longitude="#[flowVars.longitude]"/>
    </flow>

    <flow name="search-default-values" doc:name="search-default-values">
        <twitter:search config-ref="auxAuxSandbox" query="#[flowVars.query]" doc:name="Twitter"/>
    </flow>
    <flow name="send-direct-message-by-screen-name" doc:name="send-direct-message-by-screen-name">
        <twitter:send-direct-message-by-screen-name config-ref="Twitter" screenName="#[flowVars.screenName]"
                                                    message="#[flowVars.message]" doc:name="Twitter"/>
    </flow>
    <flow name="send-direct-message-by-user-id" doc:name="send-direct-message-by-user-id">
        <twitter:send-direct-message-by-user-id config-ref="Twitter" userId="#[flowVars.userId]"
                                                message="#[flowVars.message]" doc:name="Twitter"/>
    </flow>

    <flow name="set-oauth-verifier-default-values" doc:name="set-oauth-verifier-default-values">
        <twitter:set-oauth-verifier config-ref="Twitter" oauthVerifier="#[flowVars.oauthVerifier]" doc:name="Twitter"/>
    </flow>

</mule>