src/test/resources/twitter-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Twitter Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:twitter="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-twitter"
    xmlns:json="http://www.mulesoft.org/schema/mule/json"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
                          http://repository.mulesoft.org/releases/org/mule/modules/mule-module-twitter http://repository.mulesoft.org/releases/org/mule/modules/mule-module-twitter/2.3/mule-twitter.xsd">
                          
    <twitter:config consumerKey="${twitter.consumer.key}" consumerSecret="${twitter.consumer.secret}"/>
    
    <flow name="PublicTimeline">
        <twitter:get-public-timeline/>
    </flow>
    
    <flow name="HomeTimeline">
        <twitter:get-home-timeline/>
    </flow>
    
    <flow name="UserTimeline">
        <twitter:get-user-timeline/>
    </flow>
    
    <flow name="UpdateStatus">
        <twitter:update-status status="hello world"/>
    </flow>
    
    
    
    <flow name="Search">
        <twitter:search query="#[payload]"/>
    </flow>
    
    <flow name="SearchPlaces">
      <twitter:search-places latitude="#[header:latitude]" longitude="#[header:longitude]" />
    </flow>
    
    <flow name="GeoCode">
      <twitter:reverse-geo-code latitude="#[header:latitud]" longitude="#[header:longitude]" />
    </flow>
    
    <flow name="CurrentTrends">
      <twitter:get-current-trends excludeHashtags="true" />
    </flow>
    
    <flow name="DailyTrends">
      <twitter:get-daily-trends />
    </flow>
    
    <flow name="GetTrends">
      <twitter:get-trends/>
    </flow>
    
    <flow name="WeeklyTrends">
      <twitter:get-weekly-trends/>
    </flow>
    
    <flow name="GetGeoDetais">
      <twitter:get-geo-details id="#[header:geocodeId]"/>    
    </flow>
    
    <flow name="CreatePlace">
      <twitter:create-place
           token="#[header:token]"
           containedWithin="#[header:containedWithin]" 
           name="#[header:placeName]"
           latitude="#[header:latitude]"
           longitude="#[header:longitude]"
           streetAddress="[header:address]"/>
    
    </flow>
  
    <flow name="FilteredStream">
      <twitter:filtered-stream>
        <twitter:keywords>
          <twitter:keyword>muleesb</twitter:keyword>
          <twitter:keyword>mulesoft</twitter:keyword>
        </twitter:keywords>
      </twitter:filtered-stream>
      <echo-component />
    </flow>
    
    <flow name="UserStream">
      <twitter:user-stream>
         <twitter:keywords>
             <twitter:keyword>enterprise</twitter:keyword>
             <twitter:keyword>integration</twitter:keyword>
         </twitter:keywords>
      </twitter:user-stream>
      <echo-component/>
    </flow>
    
</mule>
