src/test/resources/twitter-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:twitter="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-twitter"
    xmlns:json="http://www.mulesoft.org/schema/mule/json"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
                          http://repository.mulesoft.org/releases/org/mule/modules/mule-module-twitter http://repository.mulesoft.org/releases/org/mule/modules/mule-module-twitter/2.1/mule-twitter.xsd">
                          
    <twitter:config consumerKey="${twitter.consumer.key}" consumerSecret="${twitter.consumer.secret}"/>
    
    <flow name="twitterTest">
        <inbound-endpoint address="http://localhost:9002/public"/>
        <response>
            <json:object-to-json-transformer/>
        </response>
        <twitter:get-public-timeline/>
    </flow>
    
    <flow name="updatestatus">
        <inbound-endpoint address="http://localhost:9002/update"/>
        <response>
            <json:object-to-json-transformer/>
        </response>
        <twitter:update-status status="hello world"/>
    </flow>
    
    <flow name="request-authorization">
        <inbound-endpoint address="http://localhost:9002/request-authorization"/>
        <twitter:request-authorization callbackUrl="http://localhost:9002/set-oauth-verifier"/>
        <message-properties-transformer>
            <add-message-property key="http.status" value="302"/>
            <add-message-property key="Location" value="#[payload]"/>
        </message-properties-transformer>
    </flow>
    
    <flow name="set-oauth-verifier">
        <inbound-endpoint address="http://localhost:9002/set-oauth-verifier"/>
        <logger level="ERROR"/>
        <twitter:set-oauth-verifier oauthVerifier="#[header:inbound:verifier]"/>
    </flow>
    
    <flow name="SearchPlaces">
      <twitter:search-places latitude="#[header:latitude]" longitude="#[header:longitude]" />
    </flow>
    
    <flow name="GeoCode">
      <twitter:reverse-geo-code latitude="#[header:latitud]" longitude="#[header:longitude]" />
    </flow>
    
    <flow name="CurrentTrends">
      <twitter:get-current-trends excludeHashtags="true" />
    </flow>
    
    <flow name="DailyTrends">
      <twitter:get-daily-trends />
    </flow>
    
    <flow name="GetTrends">
      <twitter:get-trends/>
    </flow>
    
    <flow name="WeeklyTrends">
      <twitter:get-weekly-trends/>
    </flow>
    
    
</mule>
